<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <permission
        android:name="example.gps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission  android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/upuse_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/upuse_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Justsell"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapsapikey" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".imageActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adpromoted_successful"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ad_posterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ad_userActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".promote_ad"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adposted_successful"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity_all"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity_property"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            />
        <service
            android:name=".FirebaseMessagingService"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_color" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3736420404472867~3668866475" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>