<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.classified.justsell">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.Justsell"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".imageActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".adpromoted_successful"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ad_posterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ad_userActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".promote_ad"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adposted_successful"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity_all"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity_property"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".FirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_color" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8346863949141411~2518972733" />
    </application>

</manifest>